body{
  font-family: 'Rubik', sans-serif;
}
.head-container{
  width: 100%;
  display: flex;
}
.first-section{
  width: 100%;
  display: flex;
  padding: 50px 0px;
  background-image: url(images/shapes/Frame58.jpg);
  background-repeat: no-repeat;
}
.about-container{
  width: 100%;
  display: flex;
  background-image: url(images/shapes/Frame56.jpg);
}
.left-text{
  width: 50%;
  padding-left: 5%;
  font-size: 20px;
}
.right-menu{
  width: 50%;
}
.right-menu ul{
  list-style: none;
}
.right-menu ul li{
  float: left;
  padding-left: 10%;
  font-size: 20px;
}
.contact-service{
  text-decoration: none;
  color:orange;
}
#single-color{
  color:orange;
}
.head-width{
  width: 50%;
  padding: 0 5%;
}
.head-width img{
  width: 80%;
  margin-right: 30px;
}
.head-width h1{
  font-size: 50px;
  color: rgb(88, 88, 88);
  line-height: 30px;
}
.head-width p{
  font-size: 20px;
  width: 60%;
  margin-bottom: 50px;
  color: gray;
}
#button-design{
  text-decoration: none;
  background:linear-gradient(rgb(68, 0, 255), blue);
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  box-shadow: 1px 1px 9px blue;
}
.about-somthing{
  width: 50%;
  padding: 5%;
}
.about-somthing h2{
  color: gray;
  font-size: 40px;
  padding-top: 30px;
}
.about-somthing p{
  width: 50%;
  line-height: 30px;
  margin-bottom: 80px;
}
.about-somthing img{
  width: 80%;
  padding-left: 20%;
  padding-top:30px;
}
