body{
  font-family: 'Rubik', sans-serif;
}
.head-container{
  width: 100%;
  display: flex;
}
.first-section{
  width: 100%;
  display: flex;
  padding: 50px 0px;
  background-image: url(images/shapes/Frame58.jpg);
  background-repeat: no-repeat;
}
.about-container{
  width: 100%;
  display: flex;
  background-image: url(images/shapes/Frame57.jpg);
  background-repeat: no-repeat;
}
.left-text{
  width: 40%;
  padding: 0 5%;
  font-size: 20px;
}
.right-menu{
  width: 50%;
}
.right-menu ul{
  list-style: none;
}
.right-menu ul li{
  float: left;
  padding-left: 10%;
  font-size: 20px;
}
.contact-service{
  text-decoration: none;
  color:orange;
}
#single-color{
  color:orange;
}
.head-width{
  width: 40%;
  padding: 0 5%;
}
.head-width img{
  width: 80%;
  margin-right: 30px;
  
}
.head-width h1{
  font-size: 50px;
  color: rgb(88, 88, 88);
  line-height: 30px;
}
.head-width p{
  font-size: 20px;
  width: 60%;
  margin-bottom: 50px;
  color: gray;
}
#button-design{
  text-decoration: none;
  background:linear-gradient(rgb(68, 0, 255), blue);
  color: white;
  padding: 15px 30px;
  border-radius: 25px;
  box-shadow: -1px -1px 14px 1px rgb(159, 255, 163);
}
.about-somthing{
  width: 40%;
  padding: 0 5%;
}
.about-somthing h2{
  color: gray;
  font-size: 40px;
  padding-top: 30px;
}
.about-somthing p{
  width: 50%;
  line-height: 30px;
  margin-bottom: 80px;
}
.about-somthing img{
  width: 80%;
  padding-left: 20%;
  padding-top:30px;
  
}
.recipies-text{
  text-align: center;
}
.recipies-text h2{
  font-size: 30px;
  color: rgb(109, 109, 109);
}
.recipies-text p{
  display: block;
  width: 30%;
  margin: 0 35%;
  font-size: 15px;
  line-height: 20px;
  color:rgb(63, 63, 63);
}
.recipies-container{
  margin-left: 13%;
  display: flex;
}
.box{
  width: 22%;
  margin: 50px;
  height: 530px;
  float: left;
  border: 3px solid white;
  border-radius: 30px;
  box-shadow: -1px -1px 14px 1px rgb(214, 214, 214);
}
.box img{
  width: 90%;
  padding: 5%;
  padding-bottom: 0;
}
.box h2{
  padding-left: 5%;
}
.box p{
  padding-left: 5%;
  width: 60%;
  line-height: 20px;
}
.poeple-choice{
  width: 100%;
}
.subscriber-follower-like{
  width: 30%;
  padding-left: 10%;
}
.subscriber-follower-like b{
  font-size: 35px;
  display: block;
}
.people-choice-box{
  width: 60%;
  display:flex;
  margin-left: 18.5%;
  padding: 30px;
  border:2px solid white;
  border-radius: 15px;
  box-shadow: -1px -1px 14px 1px rgb(221, 221, 221);
}